<style>
    #overlay {
        position: absolute;
        z-index: 10;
    }
</style>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script lang="text/javascript">
var moneyRaised = {{.Get "moneyRaised" }};
var costPerSquareFoot = 31.918022;
var squareFeetPaidFor = Math.floor(moneyRaised / costPerSquareFoot);

function gridData() {
	var data = new Array();
	var xpos = 1; //starting xpos and ypos at 1 so the stroke will show when we make the grid below
	var ypos = 1;
	var width = 9;
	var height = 9;
    var click = 0;
    var fillColor = "#ffffff";
    
    // iterate for rows	
	for (var column = 0; column < 130; column++) {
		data.push( new Array() );

		// iterate for cells/columns inside rows
		for (var row = 0; row < 70; row++) {
            if (squareFeetPaidFor >= 0) {
                fillColor = "#25ba43";
            } else {
                fillColor = "#ffffff"
            }

			data[column].push({
				x: xpos,
				y: ypos,
				width: width,
				height: height,
                click: click,
                fillColor: fillColor
			})
			// increment the x position. I.e. move it over by 50 (width variable)
            ypos += width;
            squareFeetPaidFor--;
		}
		// reset the x position after a row is complete
		ypos = 1;
		// increment the y position for the next row. Move it down 50 (height variable)
		xpos += height;	
	}
	return data;
}

var gridData = gridData();	
// I like to log the data to the console for quick debugging
//console.log(gridData);

var grid = d3.select("#grid")
	.append("svg")
	.attr("width","1181px")
	.attr("height","641px");
	
var row = grid.selectAll(".row")
	.data(gridData)
	.enter().append("g")
	.attr("class", "row");
	
var column = row.selectAll(".square")
	.data(function(d) { return d; })
	.enter().append("rect")
	.attr("class","square")
	.attr("x", function(d) { return d.x; })
	.attr("y", function(d) { return d.y; })
	.attr("width", function(d) { return d.width; })
	.attr("height", function(d) { return d.height; })
	.style("fill", function(d) { return d.fillColor; })
    .style("stroke", "#777")
    .style("opacity", 0.5)
	.on('click', function(d) {
    //    d.click ++;
    //    if ((d.click)%4 == 0 ) { d3.select(this).style("fill","#fff"); }
	//    if ((d.click)%4 == 1 ) { d3.select(this).style("fill","#2C93E8"); }
	//    if ((d.click)%4 == 2 ) { d3.select(this).style("fill","#F56C4E"); }
	//    if ((d.click)%4 == 3 ) { d3.select(this).style("fill","#838690"); }
    });
</script>